{% extends "admin/layout-admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="padding: 15px">
                <div class="form container-fluid">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="add-title">
                        {{ form_row(form.title, { 'attr': {'data-provide':'markdown'} }) }}
                    </div>
                    <div class="add-title">
                        {{ form_row(form.content, { 'attr': {'data-provide':'markdown'} }) }}
                    </div>
                    <div class="add-title">
                        {{ form_row(form.inserted_at) }}
                    </div>
                    <div class="publication">
                        {{ form_row(form.published_at) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-fill btn-info text-uppercase btn-sm" id="add-button">Ajouter</button>
                            <a href="{{ path('admin_news') }}" class="btn btn-fill btn-danger btn-sm text-uppercase" style="margin-top: 0; font-family: 'Open Sans', sans-serif;">annuler</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
