{% extends "admin/layout-admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-uppercase">Modifier une news</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="form container-fluid">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="add-title">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="add-title">
                        {{ form_row(form.content, { 'attr': {'data-provide':'markdown'} }) }}
                    </div>
                    <div class="add-title">
                        {{ form_row(form.inserted_at) }}
                    </div>
                    <div class="publication">
                        {{ form_row(form.published_at) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-sm btn-fill btn-info text-uppercase" id="add-button">Modifier</button>
                            <a href="{{ path('admin_news') }}" class="btn btn-sm btn-fill btn-danger text-uppercase">annuler</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
