{% extends "admin/layout-admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-uppercase">Liste des news <span style="font-size: 11pt">({{ news|length }} News)</span></h3>
        </div>
        <div class="col-md-6 text-right">
            <a href="{{ path('add_news') }}" class="btn btn-sm btn-fill btn-info text-uppercase" style="margin: 20px 0 10px 0;">
                <span><i class="fas fa-plus"></i> Ajouter une news</span>
            </a>
        </div>
    </div>


    <table class="table-bordered table">
        <thead>
        <tr>
            <th>titre</th>
            <th>descriptif de la news</th>
            <th>date de publication</th>
            <th>statut</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for new in news %}
            <tr>
                <td>{{ new.title|markdown }}</td>
                <td>{{ new.content|markdown }}</td>
                <td>{{ new.title|markdown }}</td>
                <td class="status">En ligne</td>
                <td class="text-center">
                    <a href="{{ path('news_edit', {"id":new.id}) }}" title="Editer" class="icon-news"><i class="far fa-edit"></i></a>
                    <a href="" title="Supprimer" class="icon-news" data-toggle="modal" data-target="#{{ new.id }}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    <a href="{{ path('admin_news_view', {"id":new.id}) }}" title="Visualiser" class="icon-news"><i class="fas fa-eye"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for new in news %}
        <div class="modal fade" id="{{ new.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <span>Êtes-vous sûr de vouloir supprimer cette news ?</span>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('delete_news', {"id":new.id}) }}" class="btn btn-fill btn-info text-uppercase btn-sm">Supprimer</a>
                        <button type="button" class="btn btn-fill btn-danger btn-sm text-uppercase" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(news) }}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
