{% extends "admin/layout-admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="padding: 15px">
                <div class="form container-fluid">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="add-title">
                        {{ form_row(form.image) }}
                    </div>
                    <div class="add-title">
                        {{ form_row(form.content, { 'attr': {'data-provide':'markdown'} }) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-sm btn-fill btn-info text-uppercase" id="edit-button">Enregistrer</button>
                            <a href="{{ path('admin_about') }}" class="btn btn-sm btn-fill btn-danger text-uppercase" style="margin-top: 15px">annuler</a>
                        </div>

                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
