<header>
    <nav class="nav navbar text-uppercase" id="nav">
        <a href="{{ path('homepage') }}" class="">accueil</a>
        <a href="{{ path('concept_page') }}">concept</a>
        <a href="{{ path('gallery') }}">galerie</a>
        <a href="#">vos colères</a>
        <a href="{{ path('news') }}">news</a>
        <a href="{{ path('about') }}">à propos</a>
        <a href="{{ path('contact') }}">contact</a>
    </nav>
</header>