{% extends "front/layout.html.twig" %}

{% block content %}
<div id="gallery">
    <div class="gallery-container animated fadeIn" id="gallery-container">
        <div class="tz-gallery">
            <div class="row gallery-first-row">
                <div class="col-md-4 img-container">
                    <div>
                        <a class="lightbox" href="{{ asset('template/img/AMARA.jpg') }}">
                            <img src="{{ asset('template/img/amara_min.png') }}" alt="Park" class="card-img">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 img-container">
                    <div>
                        <a class="lightbox" href="{{ asset('template/img/BAKER.jpg') }}">
                            <img src="{{ asset('template/img/baker.png') }}" alt="Park" class="card-img">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 img-container">
                    <div>
                        <a class="lightbox" href="{{ asset('template/img/BALAVOINE.jpg') }}">
                            <img src="{{ asset('template/img/balavoine.png') }}" alt="Park" class="card-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 img-container">
                    <div>
                        <a class="lightbox" href="{{ asset('template/img/BOVE.jpg') }}">
                            <img src="{{ asset('template/img/bove.png') }}" alt="Park" class="card-img">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 img-container">
                    <div>
                        <a class="lightbox" href="{{ asset('template/img/KOUCHNER.jpg') }}">
                            <img src="{{ asset('template/img/kouchner.png') }}" alt="Park" class="card-img">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 img-container">
                    <div>
                        <a class="lightbox" href="{{ asset('template/img/PIERRE.jpg') }}">
                            <img src="{{ asset('template/img/pierre.png') }}" alt="Park" class="card-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
{% endblock %}